.NavBarCustom{
    background-color: rgb(0, 0, 0);
    color: white !important;
    margin-bottom : 1rem;
}

.NavBarCustom--title{
    color: rgb(255, 255, 255) !important;
}

.NavBarCustom--nav{
    background-color: rgb(255, 255, 255);
}

.NavBarCustom--link{
    color: rgb(0, 0, 0);
}